@import "mixins";
@import "vars";

.lessthan:after {
  content: "<";
}

.greaterthan:after  {
  content: ">";
}

.benefits-section {
  width: 100%;
  background-color: $ui-bg-light;
}

.benefits {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  grid-template-areas:
    "title"
    "main"
    "img";
}

.benefits__title {
  padding-top: 34px;
  padding-bottom: 34px;
  margin: 0 auto;
  width: 80%;
  @include font($size-greatest, $weight-bold, $lavender, $case-normal , $line-height-greatest, $text-align-center, $ff-montserrat);
}

.benefits__title-wrapper {
  grid-area: title;
}

.benefits__card-wrapper {
  grid-area: main;
}

.benefits__screen-wrapper {
  margin-bottom: 24px;
  height: 381px;
  grid-area: img;
  background-image: url("../assets/img/screen-rev-editor.png");
  background-repeat: no-repeat;
  background-size: cover;
}

@media screen and (min-width: 710px){
  .benefits__screen-wrapper {
    height: 475px;
    background-size: cover;
  }
}

@media screen and (min-width: 768px) {
  .benefits__title {
    padding-top: 54px;
    padding-bottom: 34px;
    margin: 0 auto;
    @include font($size-greatest-tab, $weight-bold, $lavender, $case-normal, $line-height-greatest-tab, $text-align-center, $ff-montserrat);
  }
}

@media screen and (min-width: 932px){
  .benefits__screen-wrapper {
    height: 520px;
    padding-right: 400px;
    margin-right: -400px;
  }
}

@media screen and (min-width: 993px){
  .benefits {
    grid-template-columns:50% auto;
    grid-template-rows:20% auto;
    grid-template-areas:
    "main title"
    "main img";
  }



  .benefits__title {
    width: 95%;
    text-align: left;
    padding-left: 20px;
    margin-left: 0;
  }
}