@import "mixins";
@import "vars";

.revolutionary-editor__metrics {
  display: flex;
  flex-wrap: wrap;
  height: 76px;
  margin-bottom: 88px;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-evenly;
  max-width: 320px;
}

.revolutionary-editor__link-counter {
  @include font(12px, $weight-bold, $main-text, $case-normal, 20px, $text-align-left, $ff-montserrat);
  background-color: $white;
  text-decoration: none;
  border-radius: 1px;
  padding: 2px 10px;
  cursor: pointer;
}

.revolutionary-editor__link {
  @include font(12px, $weight-bold, $main-text, $case-normal , 20px, $text-align-left, $ff-montserrat);
  border-right: 1px solid rgba(27,31,35,.2);
  text-decoration: none;
  padding: 2.8px 10px;
  cursor: pointer;
}

.revolutionary-editor__link-btn {
  @include link-btn;
  background-image: linear-gradient(-180deg,#fafbfc,#eff3f6 90%);
  background-color: #eff3f6;
}

.link-octicon {
  vertical-align: middle;
}

@media screen and (min-width: 768px){
  .revolutionary-editor__metrics {
    max-width: 432px;
    margin-bottom: 56px;
  }
}
