@import "vars";

@mixin font($size, $weight, $color, $case, $height, $text-align, $ff) {
  font-size: $size;
  font-weight: $weight;
  color: $color;
  text-transform: $case;
  line-height: $height;
  text-align: $text-align;
  font-family: $ff;
}

@mixin link-btn {
  border: 1px solid rgba(27,31,35,.2);
  border-radius: 1px;
  height: 22px;
  display: inline-block;
  vertical-align: middle;
  background-color: white;
}

@mixin flexDrctn {
  display: flex;
  justify-content: space-between;
  align-items: center;
}