$header:#8D81AC;

$darker-lavender: #635c73;
$lavender: #8d81ac;
$dark-lavender: #323232;
$main-text: #635c73;
$supportive-text: #848e97;
$ui-bg-light: #F2F2F2;
$ui-bg-lavender: #423444;
$ui-card-title-lavender: #5D515F;
$ui-card-bg-lavender: #544756;
$white: #fff;

//mobile
$size-main: 14px;
$size-lead: 14px;
$size-main-title: 16px;
$size-big: 26px;
$size-greatest: 32px;

$line-height-main: 20px;
$line-height-main-title: 21px;
$line-height-big: 42px;
$line-height-greatest: 38px;

//tablet
$size-main-tab: 14px;
$size-lead-tab: 21px;
$size-main-title-tab: 21px;
$size-big-tab: 42px;
$size-greatest-tab: 42px;

$line-height-main-tab: 20px;
$line-height-tab: 32px;
$line-height-main-title-tab: 32px;
$line-height-big-tab: 42px;
$line-height-greatest-tab: 38px;

//desktop
$size-main-desk: 14px;
$size-lead-desk: 21px;
$size-main-title-desk: 16px;
$size-big-desk: 54px;
$size-greatest-desk: 48px;

$line-height-main-desk: 20px;
$line-height-lead-desk: 32px;
$line-height-main-title-desk: 32px;
$line-height-big-desk: 42px;
$line-height-greatest-desk: 38px;

$weight-bold: bold;
$weight-normal: normal;

$case-up: uppercase;
$case-normal: normal;

$text-align-center: center;
$text-align-left: left;

$ff-montserrat: Montserrat, sans-serif;
$ff-lato: 'Lato', sans-serif;

//multiplier
$multiplier: 1.2;


