@import "mixins";
@import "vars";

.benefits__card {
  display: flex;
  flex-direction: column;
  padding-left: 10px;
  padding-right: 10px;
}

.benefits__content {
  justify-self: center;
}

.card__title {
  @include font($size-main-title, $weight-normal, $dark-lavender, $case-normal, $line-height-main-title, $text-align-center, $ff-montserrat);
  margin-bottom: 12px;
}

.benefits__img {
  align-self: center;
  margin-bottom: 29px;
}

.card__text {
  @include font($size-main, $weight-normal, $supportive-text, $case-normal, $line-height-main, $text-align-center, $ff-lato);
  margin-bottom: 30px;
  width: 80%;
  margin-right: auto;
  margin-left: auto;
}

@media screen and (min-width: 768px) {
  .benefits__card {
    flex-direction: row;
    padding: 30px;
  }

  .benefits__content {
    flex-direction: column;
    align-content: start;
    margin-left: 24px;
  }

  .card__title {
    align-self: start;
    text-align: $text-align-left;
  }

  .card__text {
    align-self: start;
    @include font($size-main, $weight-normal, $supportive-text, $case-normal, $line-height-main, $text-align-left, $ff-montserrat);
    margin-left: 0;
    margin-right: auto;
    width: 90%;
  }
}


@media screen and (min-width: 768px) {
  .card__text {
    width: 100%;
  }
}

@media screen and (min-width: 993px) {
  .card__text {
    width: 100%;
  }

  .benefits__card {
    flex-direction: row;
    padding: 10px 30px 10px
  }

  .benefits__card-wrapper {
    margin-top: 53px;
  }
}