@import "mixins";
@import "vars";

.fork-subscription-section {
  width: 100%;
  background-color: $ui-bg-lavender;
  padding-right: 10px;
  padding-left: 10px;
}

.fork-subscription {
  padding-bottom: 93px;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.fork-subscription__card-wrapper{
  display: flex;
  flex-direction: column;
}

.fork-subscription__card {
  background-color: rgba(255, 255,255,.1);
  width: 257px;
  display: flex;
  flex-direction: column;
  align-self: center;
  margin-bottom: 14px;
}

.fork-subscription__title {
  @include font(28px, $weight-bold, $white, $case-normal , $line-height-big, $text-align-center, $ff-montserrat);
  padding-top: 73px;
  margin-bottom: 53px;
}

.fork-subscription__card-title{
  background-color: rgba(255, 255,255,.05);
  height: 97px;
  @include font(24px, $weight-normal, $white, $case-up , 21px, $text-align-center, $ff-montserrat);
  line-height: 97px;
  vertical-align: center;
  margin-bottom: 12px;
}

.fork-subscription__divider {
  border: 2.5px solid $lavender;
  width: 60px;
  margin-bottom: 16px;
  margin-left: auto;
  margin-right: auto;
}

.fork-subscription__price-value {
  @include font(60px, $weight-bold, $white, $case-normal , 90px, $text-align-center, $ff-montserrat);
  margin-bottom: 8px;
}

.price__dollar {
  font-weight: normal;
}

.fork-subscription__price-time {
  @include font($size-main, $weight-normal, gray, $case-up , 14px, $text-align-center, $ff-montserrat);
  margin-bottom: 26px;
}

.fork-subscription__license__wrapper{
  height: 44px;
  margin-bottom: 40px;
}

.fork-subscription__license {
  @include font($size-main-title, $weight-normal, $white, $case-normal , 28px, $text-align-center, $ff-montserrat);
}

.fork-subscription__button {
  width: 160px;
  height: 42px;
  background-color: rgba(255, 255,255,.1);
  border-radius: 40px;
  border: none;
  margin-bottom: 38px;
  @include font(15px, $weight-normal, $white, $case-up , 42px, $text-align-center, $ff-montserrat);
  align-self: center;
}

.fork-subscription__button:hover {
  background-color: #CAC4C9;
  color:$ui-bg-lavender;
}

.fork-subscription__card:nth-child(3) {
  background-color: #392D3B;
  transform: scale(1.2);
  margin-top: 60px;
  margin-bottom: 60px;

  .fork-subscription__license {
    @include font($size-main-title/$multiplier, $weight-normal, $white, $case-normal , 28px, $text-align-center, $ff-montserrat);
  }

  & .fork-subscription__divider {
    border: 2.5px/$multiplier solid $lavender;
    width: 60px/$multiplier;
    margin-bottom: 16px/$multiplier;
    margin-left: auto;
    margin-right: auto;
  }
}


@media screen and (min-width: 480px){

  .fork-subscription-section {
    background-image: url("../assets/img/bg-rev-editor-blurred.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }

  .fork-subscription__card-wrapper {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  .fork-subscription__card {
    flex-basis: 49%;
    transform: scale(.8);

  }
  .fork-subscription__card:nth-child(3) {
    flex-basis: 49%;
    transform: scale(1);

  }
}


@media screen and (min-width: 666px) {

  .fork-subscription__card-wrapper {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  .fork-subscription__card {
    flex-basis: 257px;
    transform: scale(1);

  }
  .fork-subscription__card:nth-child(3) {
    flex-basis: 257px;
    transform: scale(1.2);
  }
}

@media screen and (min-width: 768px){

  .fork-subscription__card-wrapper {
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
  }

  .fork-subscription__card{
    margin-bottom: 92px;
  }

  .fork-subscription__card:nth-child(3) {
    margin-top: 0;
    margin-bottom: 92px;
  }
}


@media screen and (min-width: 993px){
  .fork-subscription__card {
    margin-left: 0;
    margin-right: 0;
    transform: scale(.8);
  }

  .fork-subscription__card-wrapper {
    max-width: 100%;
    justify-content:space-evenly;
    flex-wrap: nowrap;
  }

  .fork-subscription__card:nth-child(3) {
    transform: scale(1);
  }

}

@media screen and (min-width: 1200px){

  .fork-subscription__card {
    margin-left: 0;
    margin-right: 0;
    transform: scale(1);
  }

  .fork-subscription__card-wrapper {
    max-width: 100%;
    justify-content:space-evenly;
  }

  .fork-subscription__card:nth-child(3) {
    margin-left: 20px;
    margin-right: 20px;
    transform: scale(1.2);
  }
}