@import "mixins";
@import "vars";
@import "card";
@import "pricing-card";
@import "link";
@import "benefits";

.revolutionary-editor {
  box-sizing: border-box;
  width: 100%;
}

.revolutionary-editor__wrapper {
  min-width: 320px;
  margin: 0 auto;
}

.revolutionary-editor__subtext {
  padding-top: 40px;
  @include font($size-main, $weight-normal, $supportive-text, $case-normal, $line-height-main, $text-align-center, $ff-lato);
}


.revolutionary-editor__title {
  @include font($size-big, $weight-bold, $darker-lavender, $case-up, $line-height-big, $text-align-center, $ff-montserrat);
  margin-top: 72px;
  margin-bottom: 24px;
}

.revolutionary-editor__lead {
  @include font($size-main, $weight-normal, $main-text, $case-normal, $line-height-main, $text-align-center, $ff-lato);
  margin-bottom: 24px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 347px) {
  .revolutionary-editor__title {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
  }
}

@media screen and (min-width: 768px) {
  .revolutionary-editor__wrapper {
    min-width: 768px;
  }

  .revolutionary-editor__title {
    @include font($size-big-tab, $weight-bold, $darker-lavender, $case-up, $line-height-big-tab, $text-align-center, $ff-montserrat);
    margin-top: 72px;
    margin-bottom: 38px;
    justify-self: center;
  }

  .revolutionary-editor__lead {
    max-width: 1200px;
    @include font($size-lead-tab, $weight-normal, $main-text, $case-normal, $line-height-tab, $text-align-center, $ff-lato);
    margin-bottom: 24px;
  }
}

@media screen and (min-width: 993px) {
  .revolutionary-editor__title {
    @include font($size-big-desk, $weight-bold, $darker-lavender, $case-up, $line-height-big, $text-align-center, $ff-montserrat);
  }

  .revolutionary-editor__lead {
    @include font($size-lead-desk, $weight-normal, $main-text, $case-normal, $line-height-lead-desk, $text-align-center, $ff-lato);
  }
}

