@import "_vars";
@import "_mixins";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.header {
  background: #27262A;
  height: 103px;
  @media (min-width: 481px) and (max-width: 992px) {
    height: 118px;
  }
  @media (min-width: 1200px){
    padding: 0 10px;
  }
  &__content {
    @include flexDrctn;
    height: 100%;
    width: 90%;
    margin: 0 auto;
    position: relative;
    @media (min-width: 1200px) {
      width: 1200px;
      margin: 0 auto
    }

  }

  &__logo-container {
    @include flexDrctn;
  }

  &__logo-wrapper {
    display: flex;
    align-items: center;
    text-decoration: none;
    @media (min-width: 481px){
      &:hover {
        .logo-title{
          color: #ffffff;
        }
        .st0 {
          fill: #ffffff;
        }
      }
    }

  }

}

.logo-title {
  color: $header;
  font-size: 24px;
  font-family: 'Lato', sans-serif;
  display: none;
  margin-left: 17px;
  @media (min-width: 481px) {
    display: unset;
  }


}

.hidden {
  display: none;
}


.logo {
  width: 43px;

}

.btn {
  padding: 14px 24px;
  background-color: $header;
  color: #fff;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  font-size: 15px;
  font-family: 'Montserrat', sans-serif;

  &:hover {
    background: #fff;
    color: $header;
  }

  @media (min-width: 993px) {
    padding: 12px 40px;
    font-size: 18px;
  }
}

.about {
  background-image: url(/assets/img/welcome-bg.png);
  background-repeat: no-repeat;
  background-position: center 40%;
  height: 75vh;
  @media (min-width: 481px) {
    background-size: cover;
    height: 80vh;
  }
  @media (min-width: 1200px){
    padding: 0 10px;
  }

  &__block {
    width: 100%;
    flex-direction: column;
    @include flexDrctn;
    height: 100%;


    @media (min-width: 1200px) {
      width: 1200px;
      margin: 0 auto

    }
  }

  &__contents {
    width: 100%;
    letter-spacing: 2px;
    flex-direction: column;
    @include flexDrctn;
  }

  &__title {
    font-size: 35px;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    padding-top: 43px;
    @media (min-width: 481px) and (max-width: 992px) {
      font-size: 53px;
    }
    @media (min-width: 993px) and (max-width: 1200px) {
      font-size: 60px;
    }
  }

  &__text-description {
    color: $header;
    font-size: 13px;
    line-height: 20px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    padding: 20px 0;
    width: 258px;
    @media (min-width: 481px) and (max-width: 992px) {
      font-size: 18px;
    }
    @media (min-width: 993px) and (max-width: 1200px) {
      font-size: 22px;
    }
    @media (min-width: 481px) {
      width: unset;

    }
  }

  &__software {
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
    text-transform: uppercase;
    color: #848E97;
    text-align: center;
    @media (min-width: 993px) and (max-width: 1200px) {
      font-size: 12px;
    }
  }
}

.download-btn {
  position: relative;
  bottom: -20px;
}

.testimonials {
  background-image: url(/assets/img/testostimonial.png);
  background-repeat: no-repeat;
  background-size: cover;
  @media (min-width: 1200px){
    padding: 0 10px;
  }

  &__block {
    width: 90%;
    margin: 0 auto;
    @media (min-width: 1200px) {
      width: 1200px;
      margin: 0 auto
    }
  }

  &__separator {
    background-color: #645766;
    height: 2px;

  }

  &__break {
    padding: 44px 0 70px 0;
    @media (min-width: 481px) and (max-width: 992px) {
      padding: 16px 0 70px 0;
    }
    @media (min-width: 993px) and (max-width: 1200px) {
      width: 65%;
      padding: 16px 0;
      margin: 0 auto;
    }
    @media (min-width: 1200px) {
      width: 65%;
      padding: 16px 0;
      margin: 0 auto;
    }
  }

  &__title {
    text-align: center;
    color: #fff;
    font-size: 26px;
    font-family: 'Montserrat', sans-serif;
    padding-top: 67px;
    line-height: 36px;
    letter-spacing: 2px;
    font-weight: 600;
    width: 266px;
    margin: 0 auto;
    @media (min-width: 481px) {
      width: unset;
      font-size: 31px;
    }

  }

  &__descriprion {
    display: none;
    font-size: 14px;
    color: #A291A5;
    font-family: 'Lato', sans-serif;
    text-align: center;
    padding-top: 60px;
    opacity: 0.8;
    line-height: 20px;
    @media (min-width: 481px) {
      display: inline-block;
    }
    @media (min-width: 993px) and (max-width: 1200px) {
      width: 70%;
      margin: 0 auto;
      display: block;
      line-height: 26px;
    }
    @media (min-width: 1200px) {
      width: 70%;
      margin: 0 auto;
      display: block;
      line-height: 26px;
    }

  }
}

.projects {
  display: flex;
  flex-direction: column;
  @media (min-width: 481px) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    @media (min-width: 481px) and (max-width: 992px) {
      width: 40%;
    }

    @media (min-width: 993px) and (max-width: 1200px) {
      width: 26%;
    }
    @media (min-width: 1200px) {
      width: 30%;
    }
  }

  &__logotype {
    width: 165px;
    align-self: center;
    padding: 49px 0 37px 0;
    @media (min-width: 481px) and (max-width: 992px) {
      padding: 75px 0 37px 0;
    }
  }

  &__small-logotype {
    height: 100%;
    width: unset;
    @media (min-width: 481px) and (max-width: 992px) {
      height: unset;
      padding: 49px 0 21px 0;
    }
    @media (min-width: 993px) and (max-width: 1200px) {
      height: unset;
    }
    @media (min-width: 1200px) {
      height: unset;
    }
  }

  &__text {
    color: #fff;
    font-size: 16px;
    font-style: italic;
    font-weight: bold;
    text-align: center;
    line-height: 20px;
  }
}
